@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="aboutbody">
<div class="container aboutcon">
    <div class="flex-container">
        <div class="flex-item">
            <h1>Web Developer</h1>
            <h3 class="details">Languages and Frameworks
                <ul>
                    <li>C#</li>
                    <li>.NET</li>
                    <li>Angular</li>
                    <li>Ember</li>
                    <li>Javascript</li>
                    <li>jQuery</li>
                    <li>NodeJS</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Sass</li>
                </ul>
            </h3>
        </div>
        <div class="flex-item">
            <h1>Work history</h1>
            <h3 class="details">
                <ul>
                    <li>RoverGO Sitter Acquisition - Rover.com</li>
                        <p class="jobdetails">Interviewed prospective dog sitters over the phone to ensure they met the qualifications of a Premier Sitter and sold the additional Premier services to qualified candidates. The position also included giving live training presentations to applicants, interviewing freelance photographers, and providing customer service to existing Premier Sitters.</p>
                    <li>Expert - Apple, Inc.</li>
                        <p class="jobdetails">Consistently excelled at high volume direct customer sales as well as creative and efficient problem resolutions. Led and inspired the retail team in the effort towards a superior customer experience. Promotion to Expert was a result of exemplary sales and customer service as a Sales Specialist.</p>
                </ul>
            </h3>
        </div>
        <div class="flex-item">
            <h1>Education</h1>
            <h3 class="details">
                <ul>
                    <li>Epicodus - Seattle, WA</li>
                    <p class="jobdetails">Epicodus is a six month developer bootcamp designed to teach students the fundamentals of software development and debugging. This course covered C#, Javascript, Angular2, Ember, jQuery, ASP.NET, as well as HTML and CSS.</p>
                    <li>Western Washington University - Bellingham, WA</li>
                    <p class="jobdetails">BA in Psychology<br />Minor in Philosophy<br />Graduated 2008</p>
              
                </ul>
                <br />
                    <img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/1880/s300/epicodus-ico.png" height="120"/>
                    <img src="https://chinookenterprises.org/wp-content/uploads/2015/09/WesternWashingtonUniversitySeal1.png" height="120"/>
            </h3>
        </div>
    </div>
</div>
</div>
