@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="aboutbody">
<div class="container aboutcon">
    <div class="flex-container">
        <div class="flex-item">
            <h1>Web Developer</h1>
            <h3 class="details">Languages and Frameworks
                <ul>
                    <li>C#</li>
                    <li>.NET</li>
                    <li>Angular</li>
                    <li>Ember</li>
                    <li>Javascript</li>
                    <li>jQuery</li>
                    <li>NodeJS</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Sass</li>
                </ul>
            </h3>
        </div>
        <div class="flex-item">
            <h1>Work history</h1>
        </div>
        <div class="flex-item">
            <h1>Education</h1>
        </div>
    </div>
</div>
</div>
