@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<CaitlinPortfolio.Models.Project>

<h2>Projects</h2>
<hr />
<ol>
    @foreach (var project in Model)
    {
        <li>
            <ul>
                <li>@project.Name</li>
            </ul>
        </li>
    }
</ol>


@Html.ActionLink("Back home", "Index")
