@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<CaitlinPortfolio.Models.Project>

<h2>Featured Projects</h2>
<hr />
<ol>
    @foreach (var project in Model)
    {
        <li>
            <ul>
                <li>To: @Html.DisplayFor(modelItem => project.Name)</li>
                <li>From: @Html.DisplayFor(modelItem => project.Url)</li>
                <li>Body: @Html.DisplayFor(modelItem => project.Description)</li>
            </ul>
        </li>
    }
</ol>

@Html.ActionLink("Back home", "Index")
