@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<CaitlinPortfolio.Models.Project>

<h2>Projects</h2>
@foreach (var project in Model)
{
    <h2><a href=@project.Url>@Html.DisplayFor(m => project.Name)</a></h2>

}


@Html.ActionLink("Back home", "Index")
