

@{
    ViewBag.Title = "Caitlin Hines";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="caitlin">
    <h1>Caitlin Hines</h1>
    <h3>Junior Web Developer</h3>
</div>

@*<svg id="aboutline" height="130" width="500">
    <line x1="600" y1="-100" x2="200" y2="200" style="stroke:white;stroke-width:2" />
</svg>*@

<div class="about">
    <h4>@Html.ActionLink("About", "About", "Index")</h4>
  </div>


@*<svg id="portline" height="200" width="400">
    <line x1="-230" y1="-200" x2="200" y2="200" style="stroke:white;stroke-width:2" />
</svg>*@

<div class="portfolio">
    <h4 id="port">Portfolio</h4>
</div>

<body onload="initCanvas()">
    <canvas height="1000" width="1920" id="backCanvas" class="background">Browser does not support Canvas</canvas>
    <canvas height="1000" width="1920" id="myCanvas" class="midground">Browser does not support Canvas</canvas>
</body>
